<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "list", :media => "all" %>
  <style type="text/css">
    table {
      width: auto;
    }
  </style>
<% end %>

<% content_for :heading do %>Web Users<% end %>

<div id="main">
  <div id="content">
    <table id="web_users" class = "list">
      <tr>
        <th>E-mail address</th>
        <th>Confirmed?</th>
        <th>Actions</th>
      </tr>
      <% @web_users.each do |web_user| %>
        <tr>
          <td><%= web_user.email %></td>
          <td><%= if web_user.confirmed? then 'Yes' else 'No' end %></td>
          <td><%= link_to 'Delete', web_user_path(web_user.id), :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'New user', '/web_users/new' %>
  </div>
</div>

