<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "filter", :media => "all" %>
  <%= stylesheet_link_tag "graphs", :media => "all" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "filter" %>
  <%= javascript_include_tag "graph" %>
<% end %>

<% content_for :heading do %>Graphs<% end %>

<div id="main">
  <div id="content">
    <div id="date_range">
      <% ['start', 'end'].each do |bound| %>
        <div class="date_box">
          <input type="text" class="day" id="day_<%= bound %>"></input>
          <select class="month" id = "month_<%= bound %>">
            <% (0 .. 11).each do |i| %>
             <option value="<%= i %>"><%= Date::ABBR_MONTHNAMES[i + 1] %></option>
            <% end %>
          </select>
          <input type="text" class="year" id="year_<%= bound %>"></input>
        </div>
        <%= "to" if bound == 'start' %>
      <% end %>
      <button id="do_graph" type="button">Graph</button>
    </div>
  </div>
  
  <%= render :partial => 'shared/filters', :locals => {
    :filter_types => GraphsController::FILTERS,
    :filter_options => JobsController::filter_options,
  } %>
</div>
