<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'filter', media: 'all' %>
  <%= stylesheet_link_tag 'graphs', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'filter' %>
  <%= javascript_include_tag 'graph' %>
<% end %>

<% content_for :heading do %>Jobs<% end %>

<div id="main">
  <div id="content">
    <h2>Graphs</h2>
    <div id="date_range">
      <% ['start', 'end'].each do |bound| %>
        <input type="text" id="date_<%= bound %>"></input>
        <%= 'to' if bound == 'start' %>
      <% end %>
      <select id="graph_time_zone">
        <option value="utc">UTC</option>
        <option value="local">Local</option>
      </select>
      <button id="do_graph" type="button">Graph</button>
    </div>
  </div>

  <%= render partial: 'shared/filters', locals: {
    filter_types: GraphsController::FILTERS,
    filter_options: JobsController::filter_options,
  } %>
</div>
