<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "filter", :media => "all" %>
  <%= stylesheet_link_tag "graphs", :media => "all" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "filter" %>
  <%= javascript_include_tag "graph" %>
<% end %>

<% content_for :heading do %>Graphs<% end %>

<div id="main">
  <div id="content">
    <div id="date_range">
      <% ['start', 'end'].each do |bound| %>
        <input type="text" id="date_<%= bound %>"></input>
        <%= "to" if bound == 'start' %>
      <% end %>
      <button id="do_graph" type="button">Graph</button>
    </div>
  </div>
  
  <%= render :partial => 'shared/filters', :locals => {
    :filter_types => GraphsController::FILTERS,
    :filter_options => JobsController::filter_options,
  } %>
</div>
