<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "filter", :media => "all" %>
  <%= stylesheet_link_tag "graphs", :media => "all" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "filter" %>
  <%= javascript_include_tag "graph" %>
<% end %>

<h1>Graphs</h1>

<div id="main">
  <div id="content">
    <div id="date_range">
      <% ['start', 'end'].each do |bound| %>
        <div class="date_box">
          <input type="text" class="day" id="day_<%= bound %>" value="1"></input>
          <select id = "month_<%= bound %>">
            <% (1 .. 12).each do |i| %>
              <option value="<%= i %>"><%= Date::ABBR_MONTHNAMES[i] %></option>
            <% end %>
          </select>
          <input type="text" class="year" id="year_<%= bound %>"></input>
        </div>
        <%= "to" if bound == 'start' %>
      <% end %>
      <button id="set_date_range" type="button">Graph</button>
    </div>
    
    <div class="graph" id="graph_counts"></div>
  </div>
  
  <%= render :partial => 'shared/filters', :locals => {
    :filter_options => GraphsController::FILTER_ARG_COUNTS,
    :hide_submit => true,
  } %>
</div>
