<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "list", :media => "all" %>
  <%= stylesheet_link_tag "filter", :media => "all" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "filter" %>
  <script type="text/javascript">
    $(document).ready(function() {
      initFilters()
      var filterForm = $('#filters').parent()
      filterForm.submit(submitFilters)
    })
  </script>
<% end %>

<h1>Jobs</h1>

<div id="main">
  <div id="content">
    <table id="summary">
      <caption>Summary</caption>
      <tr>
        <th>Number of jobs</th>
        <td><%= @jobs_summary[:num_jobs] %></td>
      </tr>
      <tr>
        <th>Total CPU time</th>
        <td><%= @jobs_summary[:cpu_time] %> seconds</td>
      </tr>
      <tr>
        <th>% Successful</th>
        <td><%= "%.2f%%" % (@jobs_summary[:successful]) %></td>
      </tr>
      <tr>
        <th>Available CPU time</th>
        <td><%= @systems_summary[:avail_cpu_time] %> seconds</td>
      </tr>
      <tr>
        <th>% CPU time used</th>
        <td><%= "%.2f%%" % (@combined_summary[:cpu_time] * 100) %></td>
      </tr>
      <tr>
        <th>Available memory (average)</th>
        <td><%= @systems_summary[:avail_memory_avg].to_i %> KB</td>
      </tr>
    </table>
    <% if @show_details %>
      <table id="details">
        <caption>Details</caption>
        <tr>
          <th>User</th>
          <th>Group</th>
          <th>System</th>
          <th>System type</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Wall time</th>
          <th>CPU time</th>
          <th>Memory</th>
          <th>Exit code</th>
        </tr>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.user.name %></td>
            <td><%= job.user.group.name %></td>
            <td><%= job.system.name %></td>
            <td><%= job.system.system_type.name %></td>
            <td><%= job.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= job.end_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= job.wall_time %> sec</td>
            <td><%= job.cpu_time %> sec</td>
            <td><%= job.memory %>kb</td>
            <td><%= job.exit_code %></td>
          </tr>
        <% end %>
      </table>
      <%= render :partial => 'shared/pages' %>
    <% end %>
  </div>
  
  <%= render :partial => 'shared/filters', :locals => {
    :filter_options => JobsController::FILTER_ARG_COUNTS,
    :default_details => @show_details
  } %>
</div>
