<h1>Jobs</h1>

<div id="tables">
  <table id="summary">
    <caption>Summary</caption>
    <tr>
      <th>Number of jobs</th>
      <td><%= @jobs.length %></td>
    </tr>
    <tr>
      <th>Total wall time</th>
      <td><%= total_wall_time %> seconds</td>
    </tr>
    <tr>
      <th>Total CPU time</th>
      <td><%= total_cpu_time %> seconds</td>
    </tr>
  </table>
  <table id="details">
    <caption>Details</caption>
    <tr>
      <th>Date</th>
      <th>Machine</th>
      <th>User</th>
      <th>Group</th>
      <th>Start time</th>
      <th>Wall time</th>
      <th>CPU time</th>
      <th>Memory</th>
    </tr>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= (job.date).to_date %></td>
        <td><%= job.server.name %></td>
        <td><%= job.user.name %></td>
        <td><%= job.user.group.name %></td>
        <td><%= job.start_time.strftime('%I:%M:%S %p') %></td>
        <td><%= job.wall_time %> sec</td>
        <td><%= job.cpu_time %> sec</td>
        <td><%= job.memory %>kb</td>
      </tr>
    <% end %>
  </table>
</div>

<div id="controls">
  <h2>Filters</h2>
  <%= form_tag("/jobs", :method => "get") do %>
    <%= label_tag(:filter_type, "Filter by:") %>
    <%= select_tag(:filter_type, %{
      <option value="none"></option>
      <option value="date">Date</option>
      <option value="server">Server</option>
      <option value="user">User</option>
      <option value="group">Group</option>
      }.html_safe) %>
    </select>
    <span id="filter_extras">
      <%= text_field_tag(:filter_value) %>
    </span>
    <label for="sort_type">Sort by:</label>
    <%= select_tag(:sort, %{
      <option value="none"></option>
      <option value="date">Date</option>
      <option value="wall_time">Wall time</option>
    }.html_safe) %> 
    <%= submit_tag("Submit") %>
  <% end %>
</div>


