<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'list', media: 'all' %>
<% end %>

<% content_for :heading do %>Systems<% end %>

<div id="main">
  <table id="systems" class="list">
    <tr>
      <th>Hostname</th>
      <th>Type</th>
      <th>Active</th>
    </tr>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to system.name, @system %></td>
        <td><%= system.system_type.name %></td>
        <td><%= if system.active? then 'yes' else 'no' end %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'New system', new_system_path %>
</div>
