<% require 'bookie/formatter' %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "list", :media => "all" %>
  <%= stylesheet_link_tag "filter", :media => "all" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'filter' %>
<% end %>

<h1>Systems</h1>

<div id="main">
  <div id="content">
    <table id="summary">
      <caption>Summary</caption>
      <tr>
        <th>Available CPU time</th>
        <td><%= Bookie::Formatter.format_duration(@systems_summary[:avail_cpu_time]) %></td>
      </tr>
      <tr>
        <th>Available memory (average)</th>
        <td><%= @systems_summary[:avail_memory_avg] %> KB</td>
      </tr>
    </table>
    <table id="details">
      <caption>Details</caption>
      <tr>
        <th>Hostname</th>
        <th>Type</th>
        <th>Cores</th>
        <th>Memory</th>
        <th>Start time</th>
        <th>End time</th>
      </tr>
      <% @systems.all.each do |system| %>
        <tr>
          <td><%= system.name %></td>
          <td><%= system.system_type.name %></td>
          <td><%= system.cores %></td>
          <td><%= system.memory %>kb</td>
          <td><%= system.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= system.end_time ? system.end_time.strftime("%Y-%m-%d %H:%M:%S") : "None" %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= render :partial => 'shared/filters', :locals => {
    :filter_types => SystemsController::FILTERS,
    :filter_options => JobsController::filter_options,
  } %>
</div>
