<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>BookieUi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="messages">
  <% flash.each do |name, value| %>
    <span id="message_<%= name -%>"><%= value -%></span>
  <% end %>
</div>

<%= yield %>

</body>
</html>
