<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>BookieUi</title>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page_heading">
  <h1><%= yield :heading %></h1>
</div>

<%= render partial: "shared/navbar" %>

<div id="messages">
  <% flash.each do |category, text| %>
    <div id="flash_<%= category %>">
      <%= text %>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
