<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>BookieUi</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield :heading %>

<%= render :partial => "shared/navbar" %>

<div id="messages">
  <% [:error, :alert, :notice].each do |category| %>
    <ul id="message_<%= category %>">
      <% values = flash[category] %>
      <% if values %>
        <% values.each do |value| %>
          <li><%= value %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<%= yield %>

</body>
</html>
