<div id="controls">
  <h2>Filters</h2>
  <%= form_tag("", :method => "get", :id => "filter_form") do %>
    <span id="filters">
      <% if @prev_filters %>
        <% @prev_filters.each do |filter, values| %>
          <% value_type = filter_types[filter] %>
          <div class="filter">
            <%= filter %>
            <div class="filter_remover"></div>
            <%= filter_for(filter_type, *values) %>
          </div>
        <% end %>
      <% end %>
    </span>
    <select id="add_filter">
      <option value="">Add filter</option>
      <% filter_types.each do |name, value_type| %>
        <% #The value attribute is hijacked to hold the type of value associated with the filter. %>
        <option value="<%= value_type %>"><%= name.to_s.humanize %></option> 
      <% end %>
    </select>
    <% if defined? show_details %>
      <label><%= check_box_tag("show_details", "true", show_details) %>Show details</label>
    <% end %>
    <%= submit_tag("Filter") %>
  <% end %>
  <% #For each type of filter, a prototype is added to the page in a hidden div. %>
  <div id="filter_prototypes">
    <% filter_types.each do |name, filter_type| %>
      <%= filter_for(filter_type) %>
    <% end %>
  </div>
</div>

