<div id="controls">
  <h2>Filters</h2>
  <%= form_tag("", :method => "get", :id => "filter_form") do %>
    <span id="filters">
      <% if @prev_filters %>
        <% @prev_filters.each do |filter, values| %>
          <% value_types = filter_types[filter] %>
          <div class="filter"><%= filter %><div class="filter_remover">X</div>
            <% value_types.each_index do |i| %>
              <% value = values[i] %>
              <% value_type = value_types[i] %>
              <% case value_type %>
              <% when :text %>
                <input type="<%= value_type %>" value="<%= value %>"></input>
              <% else %>
                <select value="<%= value %>">
                  <% filter_options[value_type].each do |option| %>
                    <option value="<%= option %>"><%= option %></option>
                  <% end %>
                </select>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </span>
    <select id="add_filter">
      <option value="">Add filter</option>
      <% filter_types.each do |name, value_types| %>
        <% #The value attribute is hijacked to hold the type of value associated with the filter. %>
        <option value="<%= value_types.join(' ') %>"><%= name %></option> 
      <% end %>
    </select>
    <% if defined? default_details %>
      <label><%= check_box_tag("show_details", "true", default_details) %>Show details</label>
    <% end %>
    <%= submit_tag("Filter") %>
  <% end %>
  <div id="select_prototypes">
    <% filter_options.each do |name, options| %>
      <select id="select_prototype_<%= name %>">
        <% options.each do |option| %>
          <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    <% end %>
  </div>
</div>

