<div id="controls">
  <h2>Filters</h2>
  <%= form_tag("", :method => "get") do %>
    <span id="filters">
      <% if @prev_filters %>
        <% @prev_filters.each do |filter, values| %>
          <div class="filter"><%= filter %><div class="filter_remover">X</div>
            <% values.each do |value| %>
              <input type="text" value="<%= value %>"></input>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </span>
      <select id="add_filter">
        <option value="0">Add filter</option>
        <% filter_options.each do |name, num_values| %>
          <% #The value attribute is hijacked to hold the number of values associated with the filter. %>
          <option value="<%= num_values %>"><%= name %></option> 
        <% end %>
      </select>
    </select>
    <label><%= check_box_tag("show_details", "true", default_details) %>Show details</label>
    <%= submit_tag("Submit") %>
  <% end %>
</div>

