<div id="navigation">
  <ul>
    <li><a href="/jobs">Jobs</a>
      <ul>
        <li><%= link_to 'Summary', '/jobs' %></li>
        <li><%= link_to 'Graphs', '/graphs' %></li>
      </ul>
    </li>
    <li><a href="/systems">Systems</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/web_users">Web users</a></li>
  </ul>
  <ul id="account_tools">
    <li>
      <% if current_web_user %>
        <%= current_web_user.email %>
        <ul>
          <li><%= link_to 'Log out', '/log_out' %></li>
          <li><%= link_to 'Change password', edit_web_user_path(current_web_user) %></li>
        </ul>
      <% else %>
        <%= link_to 'Log in', '/log_in' %>
      <% end%>
    </li>
  </div>
</div>

